---
import Base from "../layouts/Base.astro";
---

<Base 
  title="About" 
  description="About RISC-V Unofficial Reference - an easy-to-read documentation resource for learning RISC-V instructions."
>
  <h1>About</h1>
  <p>
    This is meant to be an easy-to-read and accessible reference for RISC-V. Before this, I mainly used a
    RISC-V reference card I found online, but sometimes wanted something a bit more approachable,
    especially for learning (like GeeksForGeeks). I created this website as a result. Sources were the
    technical specifications of RISC-V as well as this <a href="https://www.cs.sfu.ca/~ashriram/Courses/CS295/assets/notebooks/RISCV/RISCV_CARD.pdf">useful card sheet</a>.
    Note that a good portion of this was vibe-coded.
  </p>
  <b>Contributing</b>
  <p>
  I'm not an expert on RISC-V, so if you spot any errors or have any suggestions, feel free to submit a pull request,
  or email me at <code>allistair.hakim@gmail.com</code>
  </p>
  

  <b>Disclaimer</b>
  <p>
    This documentation is not affiliated with, endorsed by, or officially connected to 
    RISC-V International or any of its subsidiaries or affiliates.
  </p>
  <p>
    RISC-V is a registered trademark of RISC-V International. All trademarks and registered 
    trademarks are the property of their respective owners.
  </p>
</Base>
